{% extends 'base_layout.html' %}

{% block body %}
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3" style=" width: 50%; height: 50%; margin-left: 380px; margin-top: 100px;">
        {% for std in students %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='img/student/'+std.image) }}" class="card-img-top" alt="..."  />
                <div class="card-body">
                    <h5 class="card-title">{{ std.name }}</h5>
                    <p class="card-text">
                        {{ std.student_id }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}