<div class="footer text-white text-center d-flex justify-content-center">
  <div  style="background-color: #1849a3; width:75%">
    <div class="row">
      <div class="col">
        <h5 class="text-left mt-4 ml-3">&copy; Patine Jamnongtham</h5>
        <h5 class="text-left mt-2 ml-3">Email : <a class="email" href="mailto:patine.paz@g.swu.ac.th">patine.paz@g.swu.ac.th</a></h5>
      </div>
      <div class="col">
        <h5 class="text-right mt-4 mr-3">ติดต่อเรา</h5>
        <a class="float-right" href="https://www.youtube.com/channel/UC-xxEz3mjWJsglPVIItfIoQ" target="_blank"><img class="ml-2 mr-3" src="https://od.lk/s/NjdfMjAxOTg2MDhf/005-youtube%20logo.png" style="width:32px; height:32px;"></a>
        <a class="float-right" href="https://www.instagram.com/patinejamnongtham/" target="_blank"><img class="ml-2" src="https://od.lk/s/NjdfMjAxOTg2MTRf/008-instagram%20logo.png" style="width:32px; height:32px;"></a>
        <a class="float-right" href="https://www.facebook.com/Mr.Pazza" target="_blank"><img class="ml-2" src="https://od.lk/s/NjdfMjAxOTg2MDlf/006-facebook%20logo.png" style="width:32px; height:32px;"></a>
      </div>
    </div>
  </div>
</div>