<nav class="navbar navbar-expand-sm" style="background-color: #1849a3; height: 60px">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/"></a>
  
  <!-- Links -->
  <ul class="navbar-nav h-100" style="margin:0; padding: 0;">
    <li class="nav-item">
      <a class="nav-link nav-text" href="/">หน้าหลัก</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text" href="/search">ค้นหาข้อมูลแคลลอรี่</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nav-text" href="/cal">คำนวณอัตราการความต้องการเผาผลาญ</a>
    </li>
  </ul>
</nav>